* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #f5f5f5;
}
.header-menu {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
.menu__list {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #f5f5f5;
}
.menu__list.level-2 {
  background-color: #cacaca;
}
.menu__list {
  display: flex;
  align-items: center;
  list-style: none;
}
.menu__list.level-2 {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
.menu__list-item {
  position: relative;
  min-width: 100px;
  padding: 10px 15px;
  text-align: center;
}
.menu__list-item.level-1:not(:last-of-type) {
  border-right: 1px solid black;
}
.menu__list-item.level-2:not(:last-of-type) {
  border-bottom: 1px solid black;
}
.menu__list-item-link {
  display: inline-block;
  color: #000000;
  text-decoration: none;
}
.menu__list-item.level-1.is_active,
.menu__list-item.level-2.is_active {
  background-color: #3d3d3d;
}
.menu__list.level-2.is_active {
  display: block;
}
.menu__list-item-link.level-1.is_active,
.menu__list-item-link.level-2.is_active {
  color: #fff;
}

.discount {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #ff0000;
}